<div class="page-content page-width">
  <div class="grid">
    <div class="grid__item large--five-sixths push--large--one-twelfth text-center">
      <header class="section-header">
        <h1 class="section-header__title">{{ page.title }}</h1>
      </header>
      <div class="rte">
        {{ page.content }}
      </div>
      <iframe src="https://www.closeby.co/embed/77dc4bbd3fa21c5bf464044a3fcc35a0" width="100%" height="700" style="border:none"></iframe>
    </div>
  </div>
</div>